<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <!-- https://stackoverflow.com/questions/67834802/template-error-type-abstractcontrol-is-not-assignable-to-type-formcontrol -->
  <app-input [control]="$any(loginForm).get('email')" name="E-mail"></app-input>
  <app-input [control]="$any(loginForm).get('password')" name="Password" type="password"></app-input>
  <button [disabled]="loginForm.invalid" type="submit">Login</button>
</form>

<hr>

<div>Form contents: {{ loginForm.value | json }}</div>
<div>Form is valid: {{ loginForm.valid }}</div>
<div>Errors around email: {{ loginForm.controls['email'].errors | json }}</div>
<div>Errors around password: {{ loginForm.controls['password'].errors | json }}</div>
