.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.login-card {
  width: 100%;

  @media only screen and (min-width: 768px) {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    width: 500px;
  }
}

.card-heading {
  padding: 10px 0 20px;
}
