:host {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url('/assets/images/silvercoins.jpg');
  background-size: cover;
  background-position: center;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
