<mat-form-field appearance="fill">
  <mat-label>
    {{ name }}
  </mat-label>
  <input matInput [formControl]="control" [type]="type" />
    <mat-error *ngIf="control.hasError('required')">
      {{ name }} is required.
    </mat-error>
    <mat-error *ngIf="control.hasError('minlength')">
      {{ name }} is too short.
    </mat-error>
    <mat-error *ngIf="control.hasError('maxlength')">
      {{ name }} is too long.
    </mat-error>
    <mat-error *ngIf="control.hasError('email')">
      {{ name }} is incorrect.
    </mat-error>
</mat-form-field>
