<label>
  {{ name }}
  <input [formControl]="control" />
  <ng-container *ngIf="control.dirty && control.touched && control.errors">
    <div *ngIf="control.errors['required']">
      {{ name }} is required.
    </div>
    <div *ngIf="control.errors['minlength']">
      {{ name }} must be at least {{ control.errors['minlength'].requiredLength }} characters long.
    </div>
    <div *ngIf="control.errors['maxlength']">
      {{ name }} must be at most {{ control.errors['maxlength'].requiredLength }} characters long.
    </div>
    <div *ngIf="control.errors['email']">
      {{ name }} is incorrect.
    </div>
  </ng-container>
</label>
