.example-container {
  width: 100%;
  height: calc(100% - 64px);
  background: none;
}

.drawer {
  width: 300px;
  height: 100%;
}

.drawer-content {
  background: none;
}

.card {
  margin: 50px;
}
